In [17]:
import pandas as pd
df=pd.read_excel(r"C:\Users\Darshan R\Downloads\Data.xlsx")

In [18]:
pd.read_excel(r"C:\Users\Darshan R\Downloads\Data.xlsx")

,Name,Gender,Department,Salary,Loc,Rating
0,Ches Bonnell,Male,Sales,"$88,050",Bellevue,Very Good
1,Garwin Peasegood,Female,Engineering,"$68,220",Bellevue,Good
2,Sidoney Yitzhok,Female,NaN,"$118,440",Wellington,Not Rated
3,Saunders Blumson,NaN,Legal,"$56,370",Los Angeles,Very Good
4,Gardy Grigorey,Female,Support,"$107,090",Los Angeles,Poor
...,...,...,...,...,...,...
1010,Shaylyn Ransbury,Female,Support,"$100,370",Wellington,Average
1011,Christoph Stretton,Female,Business Development,"$90,240",Wellington,Poor
1012,Jordain Cyster,Female,Engineering,"$75,870",Los Angeles,Average
1013,Malory Biles,Female,Training,"$58,740",Los Angeles,Not Rated
1014,Adey Ryal,Female,Legal,"$32,500",Bellevue,Average

In [19]:
#1. How many Males/Females are there in the entire organization?
gender_total = df['Gender'].value_counts()

print('Gender distribution in the entire organization:')
print(gender_total)

Gender distribution in the entire organization:
Gender
Male      501
Female    471
Name: count, dtype: int64

In [20]:
# 2.Count the number of Males/Females in each department and for each location
gender_department = df.groupby(['Department', 'Gender']).size().unstack(fill_value=0)
gender_location = df.groupby(['Loc', 'Gender']).size().unstack(fill_value=0)

print('Gender distribution by Department:')
print(gender_department)

print('\Gender distribution by Location:')
print(gender_location)

Gender distribution by Department:
Gender                    Female  Male
Department
Accounting                    30    40
Business Development          42    38
Engineering                   38    38
Human Resources               44    39
Legal                         36    51
Marketing                     33    35
Product Management            42    49
Research and Development      39    34
Sales                         38    41
Services                      42    38
Support                       37    43
Training                      38    40
\Gender distribution by Location:
Gender       Female  Male
Loc
Bellevue        127   135
Los Angeles     176   194
Wellington      168   172

In [21]:
#3. For which department is the average Pay highest?
df = df.dropna(subset=['Department', 'Salary'], how='any')

# Convert salary to numeric
df['Salary'] = df['Salary'].str.replace('$', '').str.replace(',', '').astype(float)

# Group by department and calculate mean salary
dept_salaries = df.groupby('Department')['Salary'].mean().reset_index()

# Sort by mean salary descending
dept_salaries = dept_salaries.sort_values(by='Salary', ascending=False)

print(f"The department with the highest average pay is: {dept_salaries.iloc[0]['Department']}")
print(dept_salaries.head())

The department with the highest average pay is: Business Development
              Department        Salary
1   Business Development  77089.135802
5              Marketing  76774.923077
0             Accounting  76358.507463
11              Training  76036.623377
9               Services  75734.756098

In [22]:
#4. For which location is the average Pay highest?
# Group by location and calculate mean salary
loc_salaries = df.groupby('Loc')['Salary'].mean().reset_index()

# Sort by mean salary descending
loc_salaries = loc_salaries.sort_values(by='Salary', ascending=False)

print(loc_salaries.head())

           Loc        Salary
0     Bellevue  75818.280000
1  Los Angeles  73830.526316
2   Wellington  71988.895522

In [23]:
#5. What percentage of employees received good & very good rating? What about
poor & very poor rating? and average rating?

good_very_good_percentage = (df['Rating'].isin(['Good', 'Very Good']).sum() / df.shape[0]) * 100
poor_very_poor_percentage = (df['Rating'].isin(['Poor', 'Very Poor']).sum() / df.shape[0]) * 100
average_percentage = (df['Rating'] == 'Average').sum() / df.shape[0] * 100

# Print the results
print("Percentage of employees with Good & Very Good rating:", good_very_good_percentage)
print("Percentage of employees with Poor & Very Poor rating:", poor_very_poor_percentage)
print("Percentage of employees with Average rating:", average_percentage)

Object `rating` not found.
Percentage of employees with Good & Very Good rating: 28.541226215644823
Percentage of employees with Poor & Very Poor rating: 19.556025369978858
Percentage of employees with Average rating: 44.397463002114165

In [24]:
# 6.Calculate the gender pay gap for each department
department_gender_gap = df.groupby(['Department', 'Gender'])['Salary'].mean().unstack()
department_gender_gap['Pay Gap'] = department_gender_gap.apply(lambda x: ((x['Male'] - x['Female']) / x['Male']) * 100, axis=1)

# Display the results
print(department_gender_gap[['Female', 'Male', 'Pay Gap']])

Gender                          Female          Male    Pay Gap
Department
Accounting                72938.928571  77530.000000   5.921671
Business Development      74627.804878  82016.486486   9.008776
Engineering               75422.105263  67916.944444 -11.050498
Human Resources           66578.780488  73796.052632   9.780025
Legal                     68506.764706  72997.959184   6.152493
Marketing                 79107.741935  73701.818182  -7.334858
Product Management        70773.170732  76100.851064   7.000816
Research and Development  66603.947368  69062.580645   3.560008
Sales                     70406.666667  72039.750000   2.266920
Services                  73075.476190  79456.216216   8.030511
Support                   72030.000000  77414.523810   6.955444
Training                  77082.222222  74342.894737  -3.684720

In [25]:
#7. Compute gender pay gap for each location. Interpret
department_gender_gap = df.groupby(['Loc', 'Gender'])['Salary'].mean().unstack()
department_gender_gap['Pay Gap'] = department_gender_gap.apply(lambda x: ((x['Male'] - x['Female']) / x['Male']) * 100, axis=1)

# Display the results
print(department_gender_gap[['Female', 'Male', 'Pay Gap']])

Gender             Female          Male   Pay Gap
Loc
Bellevue     74163.474576  76680.645161  3.282667
Los Angeles  72297.757576  74849.945055  3.409739
Wellington   70452.025316  73245.534591  3.813897